[user]
  email = cuzmin.dmitry@gmail.com
  name = gfx687
[credential]
  helper = cache --timeout=360000

[core]
  pager = delta

[delta]
  side-by-side = true
  line-numbers = true
  syntax-theme = OneHalfLight
  line-numbers-left-style = green
  line-numbers-right-style = green
  line-numbers-zero-style = "#bbbbbb"
  file-style = bold green ul
  file-decoration-style = green ul ol
  commit-style = yellow
  commit-decoration-style = yellow box
  hunk-header-style = omit

[mergetool]
  prompt = false
[mergetool "mvimdiff"]
  cmd = mvim -c 'Gdiff' $MERGED
  keepbackup = false
[merge]
  summary = true
  verbosity = 1
  tool = mvimdiff
[apply]
  whitespace = nowarn
[branch]
  autosetupmerge = true
[push]
  # 'git push' will push the current branch to its tracking branch
  # the usual default is to push all branches
  default = upstream
[core]
  autocrlf = input
  editor = nvim
  excludesfile = ~/.gitignore_global
[advice]
  statusHints = false
[diff]
  # Git diff will use (i)ndex, (w)ork tree, (c)ommit and (o)bject
  # instead of a/b/c/d as prefixes for patches
  mnemonicprefix = true
  algorithm = patience
[rerere]
  # Remember my merges
  # http://gitfu.wordpress.com/2008/04/20/git-rerere-rereremember-what-you-did-last-time/
  enabled = true
[include]
  path = .gitconfig.user
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[init]
	defaultBranch = main
