snippet qi "add Questions and Interesting blocks" b
## Interesting
-

## Questions
-

endsnippet

snippet ud "Upsides and downsides lists" b
**Upsides:**
-

**Downsides:**
-

endsnippet

# ======= Hypersnips (VSCode) incompatible snippets

snippet c|d "table command description" b
COMMAND | DESCRIPTION
---|---
\`$1\` | \`$2\`
endsnippet

snippet cb "code block" b
\`\`\`$1
$0
\`\`\`
endsnippet
