snippet qi "add Questions and Interesting blocks" b
## Interesting
-

## Questions
-

endsnippet

snippet ud "Upsides and downsides lists" b
**Upsides:**
-

**Downsides:**
-

endsnippet

# ======= SMART SNIPPETS

snippet cb "code block" b
`!p snip.rv = "\`\`\`" `$1
$0
`!p snip.rv = "\`\`\`" `
endsnippet

