snippet pr "print" b
print($1)
endsnippet

snippet ift "ternary conditional operator" w
$1 if $2 else $3
endsnippet

snippet frl "for range len" b
for $2 in range(len($1)):
	$0
endsnippet

snippet f' "string formatting" w
not implemented
endsnippet

snippet "([^\s]+)\.len" "expand X.len into len(X)" rA
`!p snip.rv = 'len(' + match.group(1) + ')'`
endsnippet
