snippet s "new snippet" w
`!p snip.rv = "snippet"` ${1} "${2}" ${3:Awb}
$4
`!p snip.rv = "endsnippet"`
endsnippet

snippet v "snippet tabstop" wb
\${${1}}${2}
endsnippet

snippet rv "snip.rv = " Ab
snip.rv = 
endsnippet
